description = "Footer"

[viewBag]

[staticMenu staticMenuFeatures]
code = "main-menu"

[staticMenu staticMenuResources]
code = "resources"

[staticMenu staticMenuAbout]
code = "navigation"
==
{##}
<footer class="py-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <p>&copy; ИДСТУ СО РАН</p>
                <small class="d-block mb-3 text-muted">2017-2018</small>
            </div>
            <div class="col-6 col-md">
                <h5>Особенности</h5>
                {% if staticMenuFeatures.menuItems %}
                    <ul class="list-unstyled text-small">
                        {% partial "staticmenu/items-in-footer" items=staticMenuFeatures.menuItems %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-6 col-md">
                <h5>Примеры</h5>
                {% if staticMenuResources.menuItems %}
                    <ul class="list-unstyled text-small">
                        {% partial "staticmenu/items-in-footer" items=staticMenuResources.menuItems %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-6 col-md">
                <h5>О проекте</h5>
                {% if staticMenuAbout.menuItems %}
                    <ul class="list-unstyled text-small">
                        {% partial "staticmenu/items-in-footer" items=staticMenuAbout.menuItems %}
                    </ul>
                {% endif %}                
            </div>
        </div>
    </div>
</footer>