description = "Header Metadata"
==
{##}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="description" content="{{ this.page.meta_description }}">
<link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">

<!-- Async scripts  -->
<script defer src="{{ [
    'assets/vendor/fontawesome/svg-with-js/js/fontawesome-all.min.js'
]|theme }}"></script>

<!-- Styles -->
<link href="{{ [
    'assets/vendor/bootstrap/dist/css/bootstrap.min.css',
    'assets/css/style.css'
]|theme }}" rel="stylesheet">
{% styles %}

<title>{{ Document }}</title>