description = "Navigation bar создаваемый из компонента Меню"

[viewBag]

[staticMenu]
code = "navigation"
==
{##}
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" href="{{ 'front'|page }}">Geoportal ISDCT SB RAS</a>
    <button class="navbar-toggler collapsed" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarToggleContent" 
      aria-controls="navbarToggleContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarToggleContent" style="">
      {% if staticMenu.menuItems %}
        <ul class="navbar-nav ml-auto">
            {% partial "staticmenu/items" items=staticMenu.menuItems %}
        </ul>
      {% endif %}
    </div>

  </div>
</nav>