@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins/breakpoints";

$gp-padding: 2rem;
$gp-first-color: hsl(226, 75%, 40%);
$gp-second-color: hsl(173, 45%, 65%);
$gp-border-color: hsl(226, 75%, 25%);

@mixin gp-gradient {
    background-color: $gp-first-color;
    background-image: linear-gradient(75deg, $gp-first-color 0%, $gp-second-color 100%);
}

.geoportal__header {
    @include gp-gradient;
    background-image: url(../images/osm-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    color: white;
    padding: ($gp-padding * 2) $gp-padding;
    margin-bottom: $gp-padding;
    @include media-breakpoint-up(sm) {
        padding: ($gp-padding * 4) ($gp-padding * 2);
    }    
}

.geoportal__feature {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.feature-icon {
    font-size: 12rem;
    text-align: center;
}

.layout {
    &__navigation {
        a {
            color: #999;
            transition: ease-in-out color 0.2s;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
