{##}
{% for item in items if not item.viewBag.isHidden %}
    <li>
        <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="text-muted">
            {{ item.title }} 
        </a>
    </li>
{% endfor %}