[viewBag]
title = "О проекте"
url = "/about"
layout = "static"
is_hidden = 0
navigation_hidden = 0
==
{##}
<p>Геопортал ИДСТУ СО РАН предназначен для обеспечения интеграции исследователей через Интернет. На основе геопортала можно создавать общие информационные ресурсы, обмениваться данными, методами анализа данных и т.д. Одной из функций геопортала является создание тематических карт. Вы выбираете фоновую подложку, добавляете на карту мира свои данные и получаете уникальное изображение.</p>

<p>Основные функции геопортала:</p>

<ul>
	<li>ввод и редактирование данных через онлайн-интерфейс;</li>
	<li>импорт сведений из баз формата Microsoft Excel, Access, DBF, CSV;</li>
	<li>отображение данных в виде таблиц и карт, вывод на печать и сохранение в файлы обменного формата;</li>
	<li>проведение анализа данных с помощью функций системы сервисов и набора тематических карт.</li>
</ul>