html,
body,
.loader-container {
    width: 100%;
    height: 100%;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.loader-container__loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
.loading-overlay-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(256, 256, 256, 0.6);
    z-index: 1000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
