.geoportal__header {
  background-color: #1a3db3;
  background-image: linear-gradient(75deg, #1a3db3 0%, #7ecec5 100%);
  background-image: url(../images/osm-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  color: white;
  padding: 4rem 2rem;
  margin-bottom: 2rem; }
  @media (min-width: 576px) {
    .geoportal__header {
      padding: 8rem 4rem; } }

.geoportal__feature {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.feature-icon {
  font-size: 12rem;
  text-align: center; }

.layout__navigation a {
  color: #999;
  transition: ease-in-out color 0.2s; }
  .layout__navigation a:hover {
    color: #fff;
    text-decoration: none; }

/*# sourceMappingURL=maps/style.css.map */
