==
{##}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% partial 'meta' %}
  </head>
  <body class="layout">
    <div  class="layout__navigation"> {% partial 'navbar-dynamic' %} </div>
    <main class="layout__content">    {% page %}             </main>
    {% partial 'scripts' %}
  </body>
</html>