[staticPage]
useContent = 1
default = 0

[staticBreadcrumbs]
==
{##}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% partial 'meta' %}
  </head>
  <body class="layout">
    <div class="layout__navigation">
      {% partial 'navbar-dynamic' %}
    </div>

    <div class="layout__breadcrumbs container">
      {% component 'staticBreadcrumbs' %}
    </div>

    <main class="layout__content container m-b-3">
      {% page %}
    </main>

    <div class="layout__footer">
      {% partial 'footer' %}
    </div>   
    {% partial 'scripts' %}
  </body>
</html>