title = "Геопортал ИДСТУ СО РАН"
url = "/"
layout = "default"
is_hidden = 0

[genericForm feedbackForm]
messages_success = "Ваше сообщение успешно отправлено."
messages_errors = "Во время отправки произошла ошибка. Сообщение не отправлено."
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

==
{##}

<section class="geoportal__header">
		<div class="container text-xs-center">
      <h1 class="display-3">Геопортал ИДСТУ СО РАН</h1>
      <p class="lead">This is a simple Bootstrap 4 template for October CMS</p>
      <a class="btn btn-primary" href="{{ 'map'|page }}" >Открыть карту</a>
		</div>
</section>

<div class="container">
  <section class="row">
      <div class="col-md-12 lead pt-3 px-3 pt-md-5 px-md-5 ">
        <h2 class="display-4 mb-3 text-center">Цели Геопортала</h2>
        <p>Геопортал ИДСТУ СО РАН предназначен для обеспечения интеграции исследователей через Интернет. На основе геопортала можно создавать общие информационные ресурсы, обмениваться данными, методами анализа данных и т.д. Одной из функций геопортала является создание тематических карт. Вы выбираете фоновую подложку, добавляете на карту мира свои данные и получаете уникальное изображение.</p>
        <p>Основные функции геопортала:</p>
        <ul>
          <li>ввод и редактирование данных через онлайн-интерфейс;</li>
          <li>импорт сведений из баз формата Microsoft Excel, Access, DBF, CSV;</li>
          <li>отображение данных в виде таблиц и карт, вывод на печать и сохранение в файлы обменного формата;</li>
          <li>проведение анализа данных с помощью функций системы сервисов и набора тематических карт.</li>
        </ul>      
      </div>  
  </section>

  <section class="row geoportal__feature">
      <div class="col-md-6 feature-icon">
        <i class="far fa-map"></i>
      </div>
      <div class="col-md-6 lead text-center pt-3 px-3 pt-md-5 px-md-5 ">
        <h2 class="display-5">Пространственные данные</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta impedit ratione eos mollitia itaque nam assumenda maxime at sequi est cum, perspiciatis expedita eum suscipit enim dolore veritatis quis vel!
        Harum labore a suscipit. </p>
        <a class="btn btn-gp btn-secondary" href="{{ 'spatial-data'|staticPage }}" role="button">Подробнее »</a>
      </div>
  </section>

  <section class="row geoportal__feature">
      <div class="col-md-6 order-last lead  text-center pt-3 px-3 pt-md-5 px-md-5 ">
        <h2 class="display-5">Сервисы</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta impedit ratione eos mollitia itaque nam assumenda maxime at sequi est cum, perspiciatis expedita eum suscipit enim dolore veritatis quis vel!
        Harum labore a suscipit. </p>
        <a class="btn btn-gp btn-secondary" href="{{ 'services'|staticPage }}" role="button">Подробнее »</a>
      </div>
      <div class="col-md-6 order-md-last feature-icon">
        <i class="fas fa-cogs"></i>
      </div>
  </section>

  <section class="row geoportal__feature">
      <div class="col-md-6 feature-icon">
        <i class="fas fa-chart-line"></i>
      </div>
      <div class="col-md-6 lead text-center pt-3 px-3 pt-md-5 px-md-5 ">
        <h2 class="display-5">Статистика</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta impedit ratione eos mollitia itaque nam assumenda maxime at sequi est cum, perspiciatis expedita eum suscipit enim dolore veritatis quis vel!
        Harum labore a suscipit. </p>
        <a class="btn btn-gp btn-secondary" href="{{ 'statistics'|staticPage }}" role="button">Подробнее »</a>
      </div>
  </section>

  <section class="row geoportal__feature">
      <div class="col-md-6 order-last lead text-center pt-3 px-3 pt-md-5 px-md-5 ">
        <h2 class="display-5">Природа</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta impedit ratione eos mollitia itaque nam assumenda maxime at sequi est cum, perspiciatis expedita eum suscipit enim dolore veritatis quis vel!
        Harum labore a suscipit. </p>
        <a class="btn btn-gp btn-secondary" href="{{ 'nature'|staticPage }}" role="button">Подробнее »</a>
      </div>
      <div class="col-md-6 order-md-last feature-icon">
          <i class="fab fa-envira"></i>
      </div>
  </section>

  <section class="row geoportal__feature">
      <div class="col-md-6 feature-icon">
        <i class="far fa-list-alt"></i>
      </div>
      <div class="col-md-6 lead text-center pt-3 px-3 pt-md-5 px-md-5 ">
        <h2 class="display-5">Обработка данных</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta impedit ratione eos mollitia itaque nam assumenda maxime at sequi est cum, perspiciatis expedita eum suscipit enim dolore veritatis quis vel!
        Harum labore a suscipit. </p>
        <a class="btn btn-gp btn-secondary" href="{{ 'data-processing'|staticPage }}" role="button">Подробнее »</a>
      </div>
  </section>

  <section class="row geoportal__feature">
      <div class="col-md-6 order-last lead text-center pt-3 px-3 pt-md-5 px-md-5 ">
        <h2 class="display-5">Инфраструктура</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta impedit ratione eos mollitia itaque nam assumenda maxime at sequi est cum, perspiciatis expedita eum suscipit enim dolore veritatis quis vel!
        Harum labore a suscipit. </p>
        <a class="btn btn-gp btn-secondary" href="{{ 'infrastructure'|staticPage }}" role="button">Подробнее »</a>
      </div>
      <div class="col-md-6 order-md-last feature-icon">
        <i class="fas fa-cloud"></i>
      </div>
  </section>

  <section class="row geoportal__feature py-3">
        <div class="col-lg-10 col-md-12 col-sm-12 m-auto ">
          <form data-request="{{ feedbackForm }}::onFormSubmit">
            <h2 class="display-4 mb-5 pb-2 text-center">Написать нам</h2>
                {{ form_token() }}        
                <div class="form-group col-md-12 mb-5" id="{{ feedbackForm }}_forms_flash">
                    <input name="name" id="name" class="form-control form-control-lg bg-white mb-2 " type="text" placeholder="Имя">
                    <input name="email" id="email" class="form-control form-control-lg bg-white mb-2 " type="text" placeholder="E-mail">
                    <textarea name="message" id="message" rows="6" class="form-control form-control-lg bg-white mb-2 "  placeholder="Сообщение"></textarea>
                    <div class="text-center">
                      <button id="simpleContactSubmitButton" class="btn btn-lg btn-primary mb-2 px-5 " type="submit">Отправить</button>
                    </div>
                </div>
            </form>         
        </div>
  </section>        

  </div>

</div>