title = "Карта"
url = "/map"
layout = "only-header"
is_hidden = 0
==
{##}
{% put styles %}
    <base href="/map/">
{% endput %}

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/geoportal/inline.bundle.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/geoportal/polyfills.bundle.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/geoportal/styles.bundle.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/geoportal/scripts.bundle.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/geoportal/vendor.bundle.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/geoportal/main.bundle.js'|theme }}"></script>
{% endput %}

<app-root>
    <div class="loader-container">
        <div class="loader-container__loader"></div>
    </div>
</app-root>
